.star-file-preview{
    
}
.star-file-preview-mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}
.star-file-preview-body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-file-preview-content{
    width: 50vw;
    height: 50vh;
    background-color: aliceblue;
}